:root{
    --color-primary:blue;
    --color-white:white;
    --color-black:rgb(8, 35, 56);
    --color-black-1:rgba(8, 8, 8, 0.973);

}




/* nav {
    justify-content: space-between;
    display: flex;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
    align-items: right;
    margin-top: 3rem;
    
}
nav ul li a {
    color: aliceblue;
    text-decoration: none;
    transition: 0.4s;
}
nav ul li a:hover {
    color: black;
} */

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient( to left,rgba(153, 193, 253, 0.795),rgba(160, 239, 253, 0.801));
    height: 100%;
    
    display: flex;
  
}
.container {
    display: flex;
    width: 100%;
    height: 100vh;
}
h1 {
    color: aliceblue;
    font-size: 2rem;
    margin-left: 3rem;
    margin-top: 2rem;
}
h2 {
    margin-top: 5rem;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    text-align: right;
    margin-right: 5rem;
}
p {
color: rgb(7, 7, 7);
font-size: 28px;
text-align: right;
justify-content: center;
margin-left: 3rem;
margin-right: 3rem;
}
hr {
color: rgb(5, 5, 5);
border: solid;
align-items: right;
width: 82rem;
margin-top: 1rem;
margin-left: 9rem;
margin-bottom: 2rem;
}
video {

    width: 18rem;
    margin-left: 8rem;
    display: grid;
    border-radius: 0.5rem;
}



.menu__bar {
    background-color: var(--color-black);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    border-radius: 12px;
}
.logo{
    color: var(--color-white);
    font-size: 30px;
    margin-bottom: 2rem;
}
.logo span {
    color: rgba(159, 230, 243, 0.959);
}
.menu__bar ul{
    list-style: none;
    display: flex;
    text-align: center;
}

.menu__bar ul li {
padding: 10px 30px;  
position: relative;  
}
.menu__bar ul li a{
    color: var(--color-white);
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s;
}
.menu__bar ul li a:hover {
    color: rgb(72, 137, 180);
}
.dropdown__menu{
    display: none;
}
.menu__bar ul li:hover .dropdown__menu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
}
.menu__bar ul li:hover .dropdown__menu ul {
    display: block;
    margin: 10px;
}
.menu__bar ul li:hover .dropdown__menu ul i{
    width: 100px;
    padding: 10px;
}
.fas{
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}
.dropdown__menu-1 {
    display: none;
}
.dropdown__menu ul li:hover .dropdown__menu-1{
    display: block;
    position: absolute;
    top: 0;
    left: 150px;
    background-color: var(--color-black);
}
